<div class="wrapper style2">
    <div class="title">
        Blog
    </div>
    <div id="main" class="container">
        <%- partial('_partial/archive', {pagination: config.archive, index: true}) %>
    </div>
</div>
