<% if (site.posts.length){ %>
    <div class="wrapper style3">
        <div class="section-title">The Latest Posts</div>
        <div id="highlights" class="container">
            <div class="row oneandhalf">
                <% site.posts.sort('date', -1).limit(4).each(function(post,index){ %>
                    <div class="6u">
                        <section class="section-highlight justify">
                            <h3><a href="<%- post.path %>"><%= post.title %></a></h3>
                            <%- post.excerpt %>
                        </section>
                    </div>
                    <% if ((index + 1) % 2 == 0) { %>
                        </div>
                        <div class="row oneandhalf">
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
<% } %>
