<!-- Footer -->
<div id="footer-wrapper" class="wrapper">
    <div class="title">Links of interest</div>
    <div id="footer" class="container">
        <div class="row oneandhalf">
            <div class="12u">

                <section class="feature-list small">
                    <div class="row">
                        <div class="3u">
                            <section>
                                <h3 class="icon fa-envelope">Email</h3>
                                <p>
                                <a href="#">keelerm@tortugas-llc.com</a>
                                </p>
                            </section>
                        </div>
                        <div class="3u">
                            <section>
                                <h3 class="icon fa-comment">Social</h3>
                                <p>
                                <a href="#">@keelerm84</a><br />
                                <a href="#">github.com/keelerm84</a><br />
                                <a href="#">youtube.com/user/keelerm84ify</a>
                                </p>
                            </section>
                        </div>
                        <div class="3u">
                            <section>
                                <h3 class="icon fa-bolt">Tags</h3>
                                <%- partial('_widget/tag') %>
                            </section>
                        </div>
                        <div class="3u">
                            <section>
                                <h3 class="icon fa-check">Categories</h3>
                                <%- partial('_widget/category') %>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <hr />
        <header class="style1">
            <h2>James Branch Cabell</h2>
            <p>
            The optimist proclaims that we live in the best of all possible worlds; and the pessimist fears this is true.
            </p>
        </header>
    </div>
</div>
